.items-info {
    /* height: 11rem; */
    /* background-color: lavender; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .items-info .product-img img {
    width: 12rem;
    height: 10rem;
    border-radius: 1rem;
  }
  
  .items-info .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .items-info .title h3 {
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  
  .items-info .title p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    text-align: left;
  }
  
 .add-minus-quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .add-minus-quantity i {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  
  .add-minus-quantity input {
    width: 6rem;
    height: 3rem;
    border: 0.141rem solid var(--primary-color);
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-color);
    margin: 0 1rem;
    border-radius: 0.5rem;
    outline: none;
    background-color: transparent;
  }
  
  .add-minus-quantity input:focus {
    outline: none;
  }

  .title h3{
      font-size: 20px;
  }
  
  .price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .price h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--main-color);
  }
  
  .remove-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
  }
  
   
  .remove-item i {
      font-size: 25px;
      color: red;
      cursor: pointer;
  }
  
  .remove-item button {
    border: none;
    background-color: transparent;
  }






  .cart-total {
    width: 95%;
    margin-top: 4rem;
    text-align: right;
  }
  
  .cart-total h3 {
    font-style: 200;
    font-size: 2rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #606166;
  }
  
  .cart-total h3 span {
    font-style: normal;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    color: #000000;
    margin-left: 1rem;
  }
  
  .cart-total button {
    border: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-top: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 1px;
  }


  .cart__upper_ext{
      margin-top: 10px;
      margin-bottom: 100px;
  }
  .cart__upper_ext h5{
      margin-top: 10px;
      margin-left: 15px;
      font-size: 24px;
  }
  .item__span{
      font-weight: bold;
  }
  .continue__shopping{
      text-decoration: none;
      color: darkblue;
  }
  
  .cart-total h3{
    font-size: 28px !important;
  }


  /* media query */

  @media (max-width: 768px) {
    /* .continue-shopping h3 {
      margin-left: 0;
      font-size: 1.85rem;
    } */
  
    .items-info {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .title,
    .add-minus-quantity,
    .price,
    .remove-item {
      padding-left: 2rem;
    }
  
    .items-info .product-img {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .add-minus-quantity {
      margin: 2rem 0 2rem 0;
      justify-content: flex-start;
    }
  
    .price {
      justify-content: flex-start;
      margin-bottom: 2rem;
    }
  
    .price h3::before {
      content: "Price: ";
    }
  
    .remove-item {
      justify-content: flex-start;
    }
  
    .cart-total {
      margin-bottom: 2rem;
      text-align: center;
    }
  
    .cart-total button {
      margin-bottom: 3rem;
    }
  }